body,
html {
  background-image: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
}


.opacity {
  background-color: rgba(36, 36, 36, 0.5);
  height: 98%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.img-fluid {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.InfoApp {
  color: #ff2079;
  text-align: center;
  font-family: "myFont";
  font-size: 2.5em;
}

.SubApp {
  color: #c7ffd8;
  text-align: center;
  font-family: "myFont";
  font-size: 50px;
}

@font-face {
  font-family: "myFont";
  src: local("./fonts/beon-17325"),
    url("./fonts/beon-17325/BeonMedium-7Z34.ttf") format("truetype");
  font-weight: normal;
}


.img-pcbot-icon2 {
  max-width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.img-searchbot-icon {
  max-width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.App-footer {
  text-align: center;
  font-style: normal;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  margin: 30px 0;
  color: #ff2079;
}


.githublink {
  color: #fa9905;
  font-style: normal;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  position: relative;
  text-align: center;
  bottom: 0px;
  margin: auto;
  width: 84%;
 
}

.githublink:hover {
  color: #ff2079;
  font-weight: bold;
}