body,
html {
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
}


.opacity {
  background-color: rgba(36, 36, 36, 0.5);
  height: 98%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}


.App-header {
  margin: 30px 0;
}

.img-fluid {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.InfoApp {
  color: #a9e6e6;
  text-align: center;
  font-family: "myFont";
  font-size: 100px;
}

@font-face {
  font-family: "myFont";
  src: local("./fonts/beon-17325"),
    url("./fonts/beon-17325/BeonMedium-7Z34.ttf") format("truetype");
  font-weight: normal;
}

.Dictionary {
  color: white;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  color: #f70776;
}


.signature {
  color: white;
  font-style: italic;
  font-size: 0.5em;
  position: relative;
  text-align: center;
  bottom: 0px;
  margin: auto;
  width: 94%;
}