.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}


.Dictionary section {
    color: white;
    background: linear-gradient(112.5deg, rgb(95, 10, 135) 11.4%, rgb(164, 80, 139) 60.2%);
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0/10%);
    margin: 20px 0;
}

.SearchBar {
    width: 70%;
    padding: 6px;
    border: 1px solid;
    border-radius: 6px;
}

.searchRow {
    width: 100%;
}

.SearchButton {
    max-width: 6em;
    min-width: 4em;
    border-radius: 6px;
    padding: 6px;
    margin-left: 0.5em;
    border: 1px solid #151647;
    background: #151647;
    color: white;
    transition:0.2s;
}

.SearchButton:hover {
    background: white;
    color: #151647;

}

.Hint {
    font-size: 13px;
    margin-top: 5px;
}